/* .images{
    display: flex;
    justify-content:flex-end
} */
/* .input{
    display: flex;
    justify-content:center
} */
.shop2container{
    display: inline-flex;
    justify-content: center;
}
.shipping{
    display: inline;
}
#span{
    margin-right: 10%;
}