
.shop2container{
    display: flex;
    justify-content: space-around;
}
.shipping{
    display: inline;
}
#span{
    margin-right: 10%;
}
.color{
    display: flex;
    justify-content: right;
}
.right{
    display: flex;
    justify-content: right;
}
.input{
    display: flex;
    justify-content: right;
}
/* .bottom{
    display: flex;
    justify-content: end;
} */