.Input {
  display: inline-flex;
}
.Button {
  position: absolute;
  right: 0px;
  top: 150px;
}
.Categories {
  display:flex;
  justify-content: center;
  /* display: flexbox; */
  /* border-color: black;
  border-style: solid;
  height:60%;
  width: 60%; */

}
#boxed {
  
  width: 150px;
  padding: 50px;
  border: 5px solid gray;
  margin: 0;
  background-image: url('http://placehold.it/200x200');
}
